.container{
    padding:20px;
}
.single__project{
   
    background: #132347;
    padding: 20px;
    border-radius: 5px;
    border-bottom: 1px solid #7865ff;
}
/* .project__item{
    width:47%;
    margin-bottom: 15px;
} */
.col{
    width:60%;
    margin-bottom: 15px; 
}
.project__title span{
    font-weight: 300 !important;
    color:#fff;
    opacity: 70% !important;
    font-size: .8rem;
}
.project__year{
    color:#fff;
    margin-bottom: 15px;
   
}
@media only screen and (max-width:992px){
    .project__year{
        font-size: 0.8rem;

    }
    .project__title{
        font-size: .7rem;
    }
    .project__title span{
        font-size: .7rem;
    }
    }

