:root{
    --color1:aliceblue;
    --color2:#ba23c6;
    --color3:#7865FF;
    --color4:#132347;
    --color5:#018A80;
    --color6:#FDA475;
}
nav{
    background-color: #7865FF!important;
   
}
.link__nav{
  color:aliceblue;
  text-decoration: none;  
}
div.logo{
    display: flex;
    align-items: center;
}
div.logo img{
    width: 80px;
    height: 80px;
    margin-left: 2rem;
    transform: translateX();
    }
div.logo h3{
   text-shadow: 5px 5px 10px var(--color4);
}
.nav-bar ul li{
    color:var(--color1);
    display: flex;
    text-shadow: 5px 5px 10px var(--color4);
}
.nav-link{
    font-weight: 600;
    font-size: 1.2rem;
    color:var(--color1)!important;
    padding:5px 10px;
}
.nav-link:hover{
    text-shadow: 5px 5px 10px var(--color4);
}

/*
@media screen and (max-width:600px) {
    .nav-bar{
      flex-wrap: wrap; 
      text-align: center;
    }
} */





