:root{
    --color1:aliceblue;
    --color2:#ba23c6;
    --color3:#7865FF;
    --color4:#132347;
    --color5:#018A80;
    --color6:#FDA475;
}
header{
    position: sticky;
    top:0;
    left:0;
    right: 0;
    background-color: #7865FF;
    z-index: 100;
   
}
nav.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding:0 15px;
}
div.logo{
    display: flex;
    align-items: center;
}
div.logo h3{
    text-shadow: 5px 5px 10px var(--color4);
}
div.logo img{
width: 80px;
height: 80px;
margin-left: 10rem;
transform: translateX();
}
.nav-bar ul{
  list-style-type: none;
  margin:0;padding:0;
  display: flex;
  gap:20px;/*flex yapılarda elemanların aralarını açmak için gap kullanırız*/
  margin-right: 10rem;
}
.nav-bar ul li{
    color:var(--color1);
    display: flex;
    text-shadow: 5px 5px 10px var(--color4);
}
.nav-bar ul li a{
 text-decoration: none; 
 font-size: 1.2rem; 
 display: inline-block; 
 padding:5px 10px;
}
.nav-bar ul li a:hover{
    background-color: var(--color6);
    color:var(--color4);
    border-radius: 10px;
    font-weight: 700;
}




