.hire__btn{
background: #fff;
color:#0E1B31;

}
.hire__btn a{
text-decoration: none;
font-weight: 500;
}
.hire__btn a:hover {
    color:#0E1B31;
}
.hero__title span{
    color:#7865ff;
}
.hero__title{
    font-weight: 600;
}
.contact__btn{
    color:#fff;
}
.contact__btn:hover{
    color:#0E1B31;
    font-weight: 500;
}             
.hero__img{
    width:350px;
    border-radius: 20px;
    background: #7865ff;
    margin-left: 10rem;
}
.hero__section{
    padding-top: 100px;
}
.hero__content p{
  line-height: 30px;
  font-weight: 300;

}
.i-name{
    font-size:60px;
    
}
.i-title{
    height:50px;
    overflow: hidden;
}
.i-title-wrapper{
    height:100%;
    animation: move 10s ease-in-out infinite alternate;
}
.i-desc{
    text-align: left;
}
@keyframes move{
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
}
.i-title-item{
    height:50px;
    font-size: 30px;
    font-weight: bold;
    color:#fff;
    display: flex;
    align-items: center;
}
/******Responsive*******/
@media only screen and (max-width:992px){
.hero__img{
width: 300px;
height: 300px;
margin-right: 7rem;
}
.hero__content{
    font-size: .8rem;
}
.hero__btns button{
    display: block;
    padding:5px 20px;
    margin-bottom: 30px;
    font-size: .8rem;
}
}
@media only screen and (max-width:576px){
    .hero__img{
        margin: auto;
    }
    .hero__content{
       margin-bottom: 50px;
    }
    .hero__title{
        font-size: 1.5rem;
    }
}