.hire__btn{
background: #fff;
color:#0E1B31;

}
.hire__btn a{
text-decoration: none;
font-weight: 500;
}
.hire__btn a:hover {
    color:#0E1B31;
}
.hero__title span{
    color:#7865ff;
}
.hero__title{
    font-weight: 600;
}
.contact__btn{
    color:#fff;
}
.contact__btn:hover{
    color:#0E1B31;
    font-weight: 500;
}             
.hero__img{
    width:400px;
    height:500px;
    border-radius: 20px;
    background: #7865ff;
    margin-left: auto;
}
.hero__section{
    padding-top: 100px;
}
.hero__content p{
  line-height: 30px;
  font-weight: 300;

}