.hire__btn{
background: #fff;
color:#0E1B31;

}
.hire__btn a{
text-decoration: none;
font-weight: 500;
}
.hire__btn a:hover {
    color:#0E1B31;
}
.hero__title span{
    color:#7865ff;
}
.hero__title{
    font-weight: 600;
}
.contact__btn{
    color:#fff;
}
.contact__btn:hover{
    color:#0E1B31;
    font-weight: 500;
}             
.hero__img{
    width:400px;
    height:500px;
    border-radius: 20px;
    background: #7865ff;
    margin-left: auto;
}
.hero__section{
    padding-top: 100px;
}
.hero__content p{
  line-height: 30px;
  font-weight: 300;

}
/******Responsive*******/
@media only screen and (max-width:992px){
.hero__img{
width: 300px;
height: 300px;
margin-right: 7rem;
}
.hero__content{
    font-size: .8rem;
}
.hero__btns button{
    display: block;
    padding:5px 20px;
    margin-bottom: 30px;
    font-size: .8rem;
}
}
@media only screen and (max-width:576px){
    .hero__img{
        margin: auto;
    }
    .hero__content{
       margin-bottom: 50px;
    }
    .hero__title{
        font-size: 1.5rem;
    }
}